



<%= link_to 'Back', messages_path %>

<div class="ui main text container">
	<div class="ui segment">
		<h1 class="ui teal header">
		  <i class="edit icon"></i>
		  <div class="content">
		    Edit Message
		  </div>
		</h1>
		<%= render 'form' %>
		<div class="ui divider"></div>
		<%= link_to 'Show', @message %> |
		<%= link_to 'Back', messages_path %>
	</div>
</div>


<script type="text/javascript" charset="utf-8" >
$('.inline.icon')
  .popup({
    inline: true
  })
;
</script>



