<h1>New Message</h1>
<h3>Messages will be sent to students and can only be deleted by an admin.
<br>
Please don't create a message unless you are fairly sure it's a good idea!</h3>

<%= render 'form' if current_admin %>

<%= link_to 'Back', messages_path %>
