



<div class="ui main text container">
	<div class="ui segment">
	<h1 class="ui teal header">
	  <i class="plus icon"></i>
	  <div class="content">
	    New Interaction
	  </div>
	</h1>
		
		<%= render 'form' %>
		<%= link_to 'Back', interactions_path %>

	</div>
</div>




