<%= link_to 'Back', messages_path %>

<div class="ui main text container">
  <div class="ui segment">
  <h1 class="ui teal header">
    <i class="plus icon"></i>
    <div class="content">
      <p><strong>New Blast:</strong><%=" #{Rails.application.config.client.self.name}" %> will message every user on your team when you click create!</p>
    </div>
  </h1>
    
    <%= render 'form' %>
  </div>
</div>


<script type="text/javascript" charset="utf-8" >
$('.inline.icon')
  .popup({
    inline: true
  })
;
</script>