<p id="notice"><%= notice %></p>

<h1>Welcome to RuBot's control panel!</h1>
<h2>RuBot is an on-boarding bot for the RubyND Slack team.</h2><br>

<% if !current_admin %>
  <p>You need to log in to use this site. Please ping @fuzz on Slack for login credentials.</p>
<% end %>

<% if current_admin %>
  
  <p><%= link_to 'Messages', messages_path %>: The bot sends messages to new Slack users at specified intervals so that useful information can be dribbled instead of dumped.</p><br>

  <p><%= link_to 'Interactions', interactions_path %>: Users can also interact with RuBot. The bot will respond to specified user input with a corresponding response.<br>

    <blockquote>
      fuzz [5:05 PM]: RuBot speak<br>
      RuBot [5:05 PM]: I'm not your dog, woof woof!
    </blockquote>
  </p><br>

  <p><%= link_to 'Users', users_path %>: You can retrieve information about current Slack team members.</p><br>

  <p>This is a brand new project, and feedback is warmly welcomed. Please ping @fuzz or email steven.worley@knowlabs.com with suggestions, problems, advice, etc.</p>

<% end %>