<p id="notice"><%= notice %></p>

<h1>Welcome to RuBot's control panel!</h1>
<h2>RuBot is an on-boarding bot for the RubyND Slack team.</h2><br>
  
<p><%= link_to 'Messages', messages_path %>: The bot sends messages to new Slack users at specified intervals so that useful information can be sent out strategically in hopes of improving retention and increasing engagement. For example, message 1 is sent immediately and introduces the new user to the team and the community, while another message is sent 5 days later telling the student about 1 on 1's in hopes that they'll schedule an appointment instead of quitting before the end of their trial period.</p><br>

<p><%= link_to 'Interactions', interactions_path %>: Users can also interact with RuBot. The bot will respond to specified user input with a corresponding response.<br>

  <blockquote>
    fuzz [5:05 PM]: RuBot speak<br>
    RuBot [5:05 PM]: I'm not your dog, woof woof!
  </blockquote>
</p><br>

<p><%= link_to 'Users', users_path %>: A list of information about current Slack team members.</p><br>

<p>This is a brand new project, and feedback is warmly welcomed. Please ping @fuzz or email steven.worley@knowlabs.com with suggestions, problems, advice, etc.</p>
