<div class="ui main text container">
<div class="ui segment">

<p id="notice"><%= notice %></p>


  <img src="http://i.imgur.com/w4JMgXF.jpg" class="ui floated left image tiny ">

<h1 class="ui header">Welcome to RuBot's control panel!</h1>


<h3 class="ui header">RuBot is an on-boarding bot for the RubyND Slack team.</h3><br>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>


<div class="ui three column grid">
  <div class="column center aligned messages" data-content="Format the message delay using m, h, and d for minutes, hours, and days." data-position="bottom center">
    <button class="circular massive ui icon button landing">
     <i class="icon send"></i>
    </button>
    <h3 class="ui header">Messages</h3>
    Schedule messages to send to students
  </div>
  <div class="column center aligned">
    <button class="circular massive ui icon button landing">
  <i class="icon comments"></i>
</button>
    <h3 class="ui header">Interactions</h3>
    Create specific responses to user commands

  </div>
  <div class="column center aligned">
    <button class="circular massive ui icon button landing">
  <i class="icon user"></i>
</button>
    <h3 class="ui header">Users</h3>
    View and search the list of slack users
  </div>
</div>

<script type="text/javascript" charset="utf-8" >
$('.messages')
  .popup({
    inline: true
  })
;
</script>






	
  <p><%= link_to 'Messages', messages_path %>: The bot sends messages to new Slack users at specified intervals so that useful information can be sent out strategically in hopes of improving retention and increasing engagement. For example, message 1 is sent immediately and introduces the new user to the team and the community, while another message is sent 5 days later telling the student about 1 on 1's in hopes that they'll schedule an appointment instead of quitting before the end of their trial period.</p><br>

  <p><%= link_to 'Interactions', interactions_path %>: Users can also interact with RuBot. The bot will respond to specified user input with a corresponding response.<br>

    <blockquote>
      fuzz [5:05 PM]: RuBot speak<br>
      RuBot [5:05 PM]: I'm not your dog, woof woof!
    </blockquote>
  </p><br>

  <p><%= link_to 'Users', users_path %>: A list of information about current Slack team members.</p><br>

  <p>This is a brand new project, and feedback is warmly welcomed. Please ping @fuzz or email steven.worley@knowlabs.com with suggestions, problems, advice, etc.</p>

  </div>

  <script type="text/javascript" charset="utf-8" async defer>
   $('.ui.accordion').accordion();
   $('.ui.modal').modal();
  </script>


</div>
