<div class="ui main text container">
<div class="ui segment">

<p id="notice"><%= notice %></p>



  <%= image_tag("rubot_profile_pic.png", :class => "ui floated left image tiny ") %>

<h1 class="ui header">Welcome to <%= "#{Rails.application.config.client_name}" %>'s control panel!</h1>


<h3 class="ui header">This is a data only version of this application.</h3><br>

<script type="text/javascript" charset="utf-8" >
$('.icon')
  .popup({
    inline: true
  })
;
</script>
