
<div class="main ui text container">
  <p id="notice"><%= flash[:error] %></p> 
<div class="ui icon message">
  <i class="user icon"></i>
  <div class="content">
  <% if admin_signed_in? %>
    <div class="header">
      <%= current_admin.email %>
    </div>
     <p><%= link_to 'Log Out', destroy_admin_session_path, :method => :delete %> </p>
  <% else %>
    <div class="header">
      You are not signed in.
          <button class="ui labeled right floated red icon  button">
        <i class="google icon"></i>
        <%= link_to "Sign in with Google", admin_omniauth_authorize_path(:google_oauth2) %>
    </button>
    </div>

  <% end %>
  </div>
</div>

</div>
