<% if admin_signed_in? %>
  <p>
    Welcome <%= current_admin.email %>
    <%= link_to 'Logged In [click to logout]', destroy_admin_session_path, :method => :delete %>
  </p>
<% else %>
  <p>
    You are not signed in.
    <%= link_to 'Login', new_admin_session_path %>
  </p>
<% end %>
